.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  background-color: rgba(207, 207, 207, 0.4);
  background-image: url('../../../assets/images/chevron.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  background-color: rgba(207, 207, 207, 0.4);
  background-image: url('../../../assets/images/chevron.svg');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.my_thumbs {
  margin-top: 8px;
  height: 20%;
}
.my_thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
